* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    margin: 0;
}

form {
    width: 500px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #A0522D;
    border-radius: 12px;
    padding: 30px 40px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Add more specific selectors if needed */
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form textarea,
form input[type="date"],
form button,
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

form button {
    background-color: #D2B48C;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #A0522D;
}

